.timesheet-row {
	-ms-flex: 0 0 40px !important;
	flex: 0 0 40px !important;
}
.clipboardcontainer, .timesheet-code-container,
.timesheet-code-days .day-hours-container .day-hours,
.timesheet-code-total-container .circle-container,
.timesheet-code-total-container .fixed-circle-block,
.timesheet-code-total-container .circle-container,
.timesheet-code-container-readonly,
.timesheet-code-total-container .timesheet-code-total,
.timesheet-code-highlighted-container .timesheet-code-highlighted {
	height: 40px !important;
}
.timesheet-code-days .day-hours-container .day-hours .hours-input {
	height: 39px !important;
}
.timesheet-code-container .timesheet-code {
	line-height: 40px !important;
}
.timesheet-code-total-container .timesheet-code-total {
	line-height: 40px !important;
}
.timesheet-code-total-container .circle-container .circle {
	min-height: 20px !important;
}
.timesheet-code-total-container .circle-container .circle .export-tscode,
.timesheet-code-total-container .circle-container .circle .complete-timesheet,
.timesheet-code-total-container .circle-container .circle .trashbin {
	line-height: 20px !important;
	height: 20px !important;
}
.timesheet-code-container .timesheet-code .timesheet-code-small,
.timesheet-code-highlighted-container .timesheet-code-highlighted .timesheet-code-name-container .timesheet-code-name.timesheet-code-name-small,
.timesheet-code-highlighted-container .timesheet-code-highlighted .timesheet-code-name-container .timesheet-code-description,
.timesheet-code-highlighted-container .timesheet-code-hours,
.timesheet-code-days .day-hours-container .day-hours .hours-input,
.timesheet-code-days .day-hours-container .day-hours-extra .hours-input,
.timesheet-code-total-container .timesheet-code-total,
.timesheet-code-container-readonly .timesheet-code {
	font-size: 12px !important;
}
.header,
.profileDropDownFlexer .profile {
	height: 45px !important;
}














.profileMenu .checkbox-text {
	line-height: 38.25px;
}
.profileMenu .checkbox {
	margin-top: 11px;
}

/* add toggle-switch */
.timesheet-complete .timesheet-complete-submit:disabled {
	cursor: not-allowed !important;
}
.timesheet-complete .toggle-switch {
	float: right;
	margin: 29px 0px 0 40px;
}

.toggle-switch, .toggle-switch .toggle-knob {
	-moz-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.toggle-switch {
	height: 30px;
	width: 55px;
	display: inline-block;
	background-color: #ffffff;
	margin: 2px;
	margin-bottom: 5px;
	border-radius: 30px;
	cursor: pointer;
	border: solid 1px #d2d6de;
	box-shadow: inset 1px 1px 9px -3px rgba(4, 4, 4, 0.08), 1px 2px 6px -2px rgba(0, 0, 0, 0.01);
}

.toggle-switch:hover .toggle-knob .fa {
	color: red;
}
.toggle-knob .fa {
	color: #d2d6de;
	margin-top: 5px;
	margin-left: 9px;
}
.toggle-switch:hover {
	box-shadow: 0px 0px 25px 0px rgba(255,0,0,0.5);
}
.toggle-switch.active:hover {
	box-shadow: 0px 0px 25px 0px rgba(119,255,137,0.75);
}

.timesheet-code-days .day-hours-container .day-hours .hours-input.weekend,
.timesheet-code-days .day-hours-container .day-hours.weekend,
.legend .legend-border .legend-item .legend-color.weekend,
.timesheet-code-days .day-hours-container .day-hours .hours-input.readonly { background: #f3f5f6 !important; }

.legend .legend-border .legend-item .legend-color.holiday,
.timesheet-code-days .day-hours-container .day-hours .hours-input.holiday { background: #d4d5fa !important; }

.legend .legend-border .legend-item .legend-color.vacation,
.timesheet-code-days .day-hours-container .day-hours .hours-input.vacation { background: #fbf5e8 !important; }

.toggle-switch .toggle-knob {
	width: 28px;
	height: 26px;
	display: inline-block;
	background-color: #ffffff;
	border: solid 1px rgba(126, 126, 126, 0.07);
	box-shadow: 0 1px 3px rgba(107, 106, 106, 0.26), 0 5px 1px rgba(107, 106, 106, 0.13);
	border-radius: 26px;
	margin: 1px 1px;
}

.toggle-switch.active {
	background-color: #77e189;
	border: solid 1px transparent;
}

.toggle-switch.active .toggle-knob {
	margin-left: 24px;
}